body{
    font-family: Arial;
    background:#f2f2f2;
}

form{
    background:white;
    padding:20px;
    width:300px;
    margin:auto;
    border-radius:10px;
}

input,select,button{
    width:100%;
    margin:5px 0;
    padding:8px;
}
